.detailsofcustomer
{
    background-color: rgb(187, 172, 125);
    font-weight: bold;
    padding: 5%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search
{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.first,.secound
{
    display: flexbox;

}
div {border-width: thick;}
.back{
    display: flex;
    justify-content: center;
}