

.detailsofcustomer {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-self: auto;
    text-indent: 30px;
    justify-content: center;
    background-color: white;
    padding: 5%;
    font-size: larger;
    font-weight: bold;
    width: 150%;
    margin-top: 3px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first,
.secound {
    display: flexbox;
    

}

.whole {
    padding: 20%;
    height: 90%;
}
container-element{
    display: flex;
    justify-content: center;
}