.container
{
    background-color: rgb(255, 255, 255);
    image-rendering: auto;
    padding: 20px;
    width: 930px;
}
.detailsofcustomer
{
    background-color: cadetblue;
    padding: 20px;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 3px;
}
#reject
{
    margin-left: 10px;
}
.whole
{
    padding: 2%;
}