<app-admin-nav></app-admin-nav>
<!DOCTYPE html>
<p>
    What are Top-Up Loans?
</p>
 <p> 
    Sometimes, you need another helping hand to fulfil your dreams. How wonderful would it be if someone understands your aspirations and is always there to help you? One such product that fulfils the criteria is a top-up loan. The top-up loan is a financial help provided by banks or housing finance companies so that you can easily fulfil your dreams with little more financial aid.
</p>  
    Let us take an example to understand what actually a top-up loan is?
<p> 
    Suppose your bank has approved a home loan of Rs.60 lakhs for a period of 10 years. After 5 years, the outstanding principal balance on your loan is Rs. 36 lakhs. Now, if you are considering a major renovation in the house, you can consider a top-up loan (a loan that tops-up your home loan), to finance the renovation instead of opting for a costly personal loan.
</p> 
    A top-up loan is a loan given by the bank over and above your home loan. Just like you top-up your mobile balance if you are running low on balance, similarly banks give top-up loans over your current balance. This might have increased your curiosity to know more about the product.
<p>   
    Below is a quick guide on everything you want to know about a top-up loan:
</p>
<p> 
    Top-Up Loan Meaning:
    
    Top-up loan is a facility provided by banks, housing finance companies and other financial institutions that allows you to borrow a certain amount of money over and above your home loan.
    
    Features of Top-Up Loan:
</p>   
    Eligibility: The top-up loan is not available to everyone who has availed a home loan from a bank. Several factors are taken into consideration before granting the top-up loan. Banks check the repayment ability and past track records in relation to the repayment of the previous home loan. If the credit report is favourable, the banks grant the top-up loan by charging some processing fee. In some cases, banks waive the processing fee.
 <p>   
    Tenure: The top-up loans are either given for the outstanding period of the existing home loan or for a period of 10 years. The tenure changes from bank to bank.
    
    Interest Rates: The interest rates charged on top-up loan are slightly higher than what you pay for your home loans. This is very cheap compared to the interest rates on the personal loan.
    
    Utilisation: You can utilise a top-up loan for purposes of modification or construction of your house or to meet your personal expenses like funding for children’s education, etc. However, you cannot utilise the top-up loan amount for speculative purposes.
    </p>
